
<!-- edit post -->

<div class="container">
  <h1>Practice With Collection Forms<h1>
  <h2>Edit Post</h2><br>

  <!-- form_tag production -->
  <%= render  :partial => "post_form_tag",
              :locals => { :post => @post } %> 
  <br>

  <!-- form_for production -->
  <%= render  :partial => "post_form_for",
              :locals => { :post => @post } %> 

</div>