<h3>practice_form_5</h3>
<p>Choose a form_for from any of the scenarios above and add HTML classes to it, add HTML IDs to it, pass in an option like creating a "blank" checkbox/radio/option so the user can choose to not have a given association at all.</p>

<%= render 'shared/errors', object: post %>
