<h1>Edit Post</h1>

<%#= render 'form', post: @post %>

<article class="form-partial">
  <%= render "practice_form_1", post: @post %>
</article>

<article class="form-partial">
  <%= render "practice_form_2", post: @post %>
</article>

<article class="form-partial">
  <%= render "practice_form_3", post: @post %>
</article>

<article class="form-partial">
  <%= render "practice_form_5", post: @post %>
</article>
