<div class="row">
  <% unless flash[:success].nil? %>
    <div class="col-md-12 alert alert-success">
      <%= flash[:success] %>
    </div>
  <% end %>
</div>

<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
