<h1>Posts#new</h1>
<div class="new-post">
  <div class="errors">
    <% if @post.errors.any? %>
        <ul class="list-group">
          <% @post.errors.full_messages.each do |msg| %>
              <li class="list-group-item list-group-item-danger"><%= msg %></li>
          <% end %>
        </ul>
    <% end %>
  </div>

  <%= render 'form' %>
</div>
