<h1>Check Out The Post!</h1>

<h2><%= @post.title %></h2>

<p><%= @post.body %></p>

<ul>
  <% @post.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>

<%= link_to "Edit the Post", edit_post_path %>