// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
  border: 1px solid gray;
  margin-top: 45px;
  margin-bottom: 45px;
}

.stats-table {
  margin-top: 15px;
}